/* ------------------------- These styles apply to all pages --------------------------- */

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand{
    background-color: #4aaaa5;
    color: white !important;
    padding: 12px 10px 12px 10px;
    margin: -10px 0px -10px 0px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white !important;
    background-color: #4aaaa5 !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
    background-color: #4aaaa5 !important;
}

.btn-primary {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4aaa;
    border-color: #4aaa;
    border-color: none;
}